*{
    margin: 0;
    padding: 0;

}

.produto{
    margin-top: 20px;
}

.produto p{
 margin-top: 10px;
 margin-bottom: 10px;
}

#produtosContainer{
    display: flex;
    flex-direction: row;
    
}